# Copyright 2019 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# https://docs.npmjs.com/files/npmrc

# We'll manage this ourselves to keep node_modules size small.
puppeteer_skip_chromium_download = true
# xterm.js's version numbers with `-beta.xx` suffix do not work well with npm.
# We temporarily enable this flag until xterm.js v5 gets out of beta.
legacy-peer-deps = true
