# Bundled dependencies
js/*.concat.js
js/*.rollup.js

# Generated HTML files.
/html/changelog.html
/html/licenses.html

# Copy of the nacl plugin used when loading as an unpacked extension
/_platform_specific/
/plugin/

# Stuff we build for distribution
/dist
/fonts
/nassh-*.tgz

# npm related dirs.
node_modules

# wassh related dev paths.
/nassh
/ssh_client
/wasi-js-bindings
/wassh
