/*
 * Copyright 2019 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

html {
  color: rgb(95, 99, 104);
  font-family: 'Roboto';
  font-size: small;
  line-height: 2.65em;
}

body {
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

terminal-settings-category-option {
  cursor: pointer;
}

terminal-settings-category-option > h2 {
  border-radius: 0 20px 20px 0;
  padding: 0 40px 0 20px;
  user-select: none;
}

terminal-settings-category-option:hover > h2 {
  background-color: rgb(240, 240, 240);
}

terminal-settings-category-option[active] > h2 {
  background-color: rgb(210, 227, 252);
  color: rgb(26, 115, 232);
}

.terminal-settings-category {
  display: none;
  flex-grow: 1;
  margin: 0 40px;
  overflow: auto;
}

.terminal-settings-category[active-category] {
  display: block;
}

.section-body {
  margin: 0;
  padding: 0;
}

.setting-container {
  align-items: center;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;
}
