/*
 * Copyright 2015 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * Styles used by the preferences editor.
 */

/*
 * Dark mode settings.  It's a bit hacky, but gets the job done.
 */
@media (prefers-color-scheme: dark) {
  :root {
    --nassh-dm-bg-color: rgb(32, 33, 36);
    --nassh-dm-fg-color: rgb(232, 234, 237);
  }
  html {
    color: var(--nassh-dm-fg-color);
    background-color: var(--nassh-dm-bg-color);
  }
  .chrome-bootstrap header {
    background-image: linear-gradient(var(--nassh-dm-bg-color), var(--nassh-dm-bg-color));
  }
  .chrome-bootstrap {
    color: var(--nassh-dm-fg-color);
  }
  .chrome-bootstrap h3 {
    color: var(--nassh-dm-fg-color);
  }
  .chrome-bootstrap ul.menu li.selected a {
    color: rgb(154, 160, 166);
  }
  .chrome-bootstrap a {
    color: rgb(138, 180, 248);
  }
  input, textarea {
    color: var(--nassh-dm-fg-color) !important;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/* Make body 100% height of page
 * See https://stackoverflow.com/questions/6654958
 */
html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

/*
 * Flexbox helper classes.
 */
.hflex {
  display: flex;
  flex-direction: row;
}
.vflex {
  display: flex;
  flex-direction: column;
}
.fixed-size-flex {
  flex-shrink: 0;
  flex-grow: 0;
}

/*
 * The left navigation pane.
 */
.navigation {
  height: 100%;
  width: 155px;
  min-width: 155px;
  position: fixed;
  z-index: 3;
  -webkit-margin-start: 0;
  -webkit-margin-end: 15px;
  overflow: auto;
}

/*
 * Hidden restore input inside navigation bar.
 */
.restore {
  visibility: hidden;
  width: 1px;
}

/*
 * The pane to the right of the navigation pane.
 */
#options {
  width: 100%;
  position: relative;
}

/*
 * Make sure the right pane takes up the whole page when selected.
 * Otherwise, unselected panes underneath will bleed through.
 */
.chrome-bootstrap .frame .mainview > .selected {
  height: 100%;
}

/*
 * The container of the terminal preview iframe.
 */
#terminal {
  height: 70px;
  min-height: 70px;
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0px;
  padding: 0px;
  margin-left: 18px;
}

/*
 * The terminal container container.  Make sure extreme terminal settings (e.g.
 * height) don't make the rest of the settings inaccessible.
 */
#terminal-container {
  max-height: 140px;
  overflow: hidden;
}

#current-profile {
  margin-left: 18px;
}

/*
 * The area of the options pane containing settings.
 */
#options-settings-section {
  padding-top: 180px;
}

/*
 * Rules for elements inside #options container.
 */

#options section {
  max-width: inherit;
  margin-bottom: 0;
}

#options h1 {
  -webkit-margin-start: 0;
  -webkit-margin-after: 0;
  padding-bottom: 20px;
}

#options header::after {
  -webkit-margin-end: 20px;
  background-color: #eee;
  content: ' ';
  display: block;
  height: 1px;
  position: relative;
  top: 13px;
}

#options header {
  -webkit-margin-start: 0;
  -webkit-margin-after: 0;
  position: fixed;
  padding-bottom: 20px;
}

/*
 * Rules for elements inside #settings container.
 */

#settings .setting-container {
  margin-bottom: 4px;
}

#settings .category-details {
  margin-bottom: 8px;
}

#settings .alpha-text {
  padding-left: 10px;
  padding-right: 2px;
}

#settings span.setting-label {
  width: 20%;
  min-width: 150px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-right: 8px;
  text-align: left;
  vertical-align: middle;
}

#settings span.setting-ui {
  vertical-align: middle;
}

#settings span.setting-ui input[type='checkbox'] {
  top: 3px;
}

#settings span.setting-ui input[type='text'],
#settings span.setting-ui input[type='url'],
#settings span.setting-ui input[type='number'] {
  width: 100%;
}

#settings span.setting-ui textarea {
  width: 30em;
  height: 8em;
}

#settings span.setting-ui input {
  vertical-align: middle;
}

#ssh-files-known-hosts, #ssh-files-config {
  font-family: monospace;
  white-space: nowrap;
  width: 100%;
}
