/*
 * Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * Styles used by the extension popup page.
 */

body {
  background-color: var(--nassh-bg-color);
  color: var(--nassh-fg-color);
  font-family: var(--nassh-font-family);
  height: 100%;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  width: 100%;
}

div.links {
  cursor: pointer;
  padding: 0 0.5em 0 0.5em;
  text-decoration: none;
  white-space: nowrap;
}
div.links:focus,
div.links:hover {
  background-color: var(--nassh-cursor-color);
  color: white;
  text-decoration: underline;
}
